@import 'variable';
@import 'mixin';
/* ============   navbar starts   =============== */
nav{
    .menu1{

        z-index: 9999999;
        position: absolute;
        left: 75px;
        top: 50px;
        .logo{
            display: inline-block;
            h4{
                font-family: $spartan;
                color: #fff;
                font-weight: 700;
            }
        }
        .menu-bar{
            display: inline-block;
            ul{
                display: flex;
                margin-left: 50px;
    
                li{
                    margin-right: 35px;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    a{
                        color: #fff;
                        font-family: $spartan;
                        font-weight: 600;
                        position: relative;
                        font-size: 15px;
    
    
                        &::after{
                            content: '';
                            width: 0;
                            height: 3px;
                            background: #fff;
                            position: absolute;
                            left: 0;
                            bottom: -10px;
                            @include trans1(0.3s);
                        }
                        &:hover{
                            &::after{
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* ============   navbar ends   =============== */ 